*/boneChangeData.txt
*/boneModulusData.txt
*/elementdata.txt
*/marrowChangeData.txt
*/marrowModulusData.txt
*/mediumChangeData.txt
*/mediumModulusData.txt
*/nodedata.txt
*/Subsample.mat
images/*
m_files/test_imgs/*
m_files/S*b.m
m_files/params.m
m_files/mainm.m
m_files/main
m_files/run_main.sh
parafem_inputs/*
Subsample.mat
microFE_local.ini
microFE-archer.ini
parafem_io/*
example/*
m_files/peakdet.m
m_files/segm_th.m
plot.py
