*/boneChangeData.txt
*/boneModulusData.txt
*/elementdata.txt
*/marrowChangeData.txt
*/marrowModulusData.txt
*/mediumChangeData.txt
*/mediumModulusData.txt
*/nodedata.txt
*/Subsample.mat
images/*
m_files/test_imgs/*
m_files/S*b.m
m_files/params.m
m_files/mainm.m
parafem_inputs/*
Subsample.mat
microFE_job.pbs
microFE_local.ini
microFE.ini
microFE-archer.ini
